In [27]:

import pandas as pd
from sqlalchemy import create_engine
import pymysql
db = pymysql.connect(host='localhost',
                     user='root',
                     password='wdg211206324',
                     database='test')

cursor = db.cursor()

1

In [67]:
%%time
for i in range(1):
    sql = "INSERT INTO Persons(Id_P, LastName,FirstName, Address,City) VALUES ('%s', '%s', '%s',  '%s',  '%s')" % (201, 'Mohan','Mo1han', '浙江', '温州')
    cursor.execute(sql)
db.commit()

CPU times: user 1.31 ms, sys: 2.93 ms, total: 4.24 ms
Wall time: 6.38 ms

In [65]:
%%time

val = []
for i in range(100000):
    val.append(("1111"+str(i),'Mohan','Mohan', '浙江', '温州'))
sql = "INSERT INTO Persons(Id_P, LastName,FirstName, Address,City) VALUES (%s, %s, %s,  %s, %s)" 
val=tuple(val) 
cursor.executemany(sql,val)
db.commit()

CPU times: user 777 ms, sys: 21.3 ms, total: 798 ms
Wall time: 1.56 s

In [69]:
sql = "select * from Persons where Id_P='201'"
cursor.execute(sql)
db.commit()

(('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'),
 ('1100', 'Mohan', 'Mohan', '浙江', '温州'))